{% extends 'base.html' %}

{% block title %}
Список авторов
{% endblock %}

{% block body %}
<h1>Все авторы</h1>
<ul class="nav nav-pills">
            <li class="nav-item"><a href="/authors-base" class="nav-link">Сортировка по имени</a></li>
            <li class="nav-item"><a href="/authors-base-id" class="nav-link">Сортировка по id</a></li>
</ul>
{% for el in authors %}
    <div class="alert alert-info">
        <h2>{{ el.authorName }}</h2>
        <p>Страна: {{ el.country }}</p>
        <p>ID: {{ el.idAuthor }}</p>
        <a href="/authors-base/{{el.idAuthor}}" class="btn btn-warning">Изменить</a>
    </div>
{% endfor %}
{% endblock %}