{% extends 'base.html' %}

{% block title %}
Измнить книгу
{% endblock %}

{% block body %}
<h1>Изменение книги</h1>
<form method="post">
    <input type="text" name="title" id="title" class="form-control" value="{{book.title}}" placeholder="Введите название книги"><br>
    <input type="number" name="idAuthor" id="idAuthor" class="form-control" value="{{book.idAuthor}}" placeholder="Введите id автора"><br>
    <input type="text" name="publisher" id="publisher" class="form-control" value="{{book.publisher}}" placeholder="Введите издателя книги"><br>
    <input type="submit" class="btn btn-success" value="Изменить">
</form>
{% endblock %}