{% extends 'base.html' %}

{% block title %}
Список книг
{% endblock %}

{% block body %}
<h1>Все книги</h1>
<ul class="nav nav-pills">
            <li class="nav-item"><a href="/books-base" class="nav-link">Сортировка по названию</a></li>
            <li class="nav-item"><a href="/books-base-id" class="nav-link">Сортировка по id</a></li>
</ul>
{% for el in books %}
    <div class="alert alert-info">
        <h2>{{ el.title }}</h2>
        <p>Издатель: {{ el.publisher }}</p>
        <p>ID автора: {{ el.idAuthor }}</p>
        <p>ID: {{ el.idBook }}</p>
        <a href="/books-base/{{el.idBook}}" class="btn btn-warning">Изменить</a>
    </div>
{% endfor %}
{% endblock %}