{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1> Нибируанская библиотека имени Ленина </h1>
<ul class="nav nav-pills">
            <li class="nav-item"><a href="/authors-base" class="nav-link">Список доступных авторов</a></li>
            <li class="nav-item"><a href="/books-base" class="nav-link">Список имеющихся книг</a></li>
            <li class="nav-item"><a href="/readers-base" class="nav-link">Список читателей</a></li>
</ul>
{% endblock %}